@model AirLine_ClassLibrary.Flights

@{
    ViewBag.Title = "Flights_Details";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Flight Details</title>
</head>
<style>
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #fdf2e9;
        background-size: cover;
    }

    .Heading {
        // text-align: center;
        padding-left: 550px;
        padding-top: 25px;
        padding-bottom: 25px;
        // text-decoration-line: underline;
    }

    .flightsContainer {
        text-align: left;
        //margin: 20px 250px 20px 250px;
    }

    .col {
        padding: 12px;
    }

    .styled {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: rgb(31, 241, 108);
        background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    }

    .btn {
        text-align: center;
    }

    form {
        display: flex;
        flex-wrap: nowrap !important;
    }
    .column {
        float: left;
        width: 50%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<body>

    <div class="Heading">
        <h3>Flight Details</h3>
    </div>
    <form action="" class="FormCls" method="post">
        <!-- Headings for the form -->
        @using (Html.BeginForm("Flights_Details", "Flights", FormMethod.Post))
        {
            <div class="container row">

                <div class="column" style="padding-left:240px;">
                    <div class="form-group">
                        @Html.LabelFor(m => m.flightId)
                        @Html.TextBoxFor(m => m.flightId, "", new { @class = "form-control", @placeholder = "FlightId" , disabled = "disabled" })
  
                        @Html.ValidationMessageFor(m => m.flightId, "", new { @class = "badge badge-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.flightName)
                        @Html.TextBoxFor(m => m.flightName, "", new { @class = "form-control", @placeholder = "flightName" })
                        @Html.ValidationMessageFor(m => m.flightName, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.flightDate)
                        @Html.TextBoxFor(m => m.flightDate, "", new { @class = "form-control", @placeholder = "flightDate" })
                        @Html.ValidationMessageFor(m => m.flightDate, "", new { @class = "badge badge-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.fromLocation)
                        @Html.TextBoxFor(m => m.fromLocation, "", new { @class = "form-control", @placeholder = "fromLocation" })
                        @Html.ValidationMessageFor(m => m.fromLocation, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.toLocation)
                        @Html.TextBoxFor(m => m.toLocation, "", new { @class = "form-control", @placeholder = "UserName" })
                        @Html.ValidationMessageFor(m => m.toLocation, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.departureTime)
                        @Html.TextBoxFor(m => m.departureTime, "", new { @class = "form-control", @placeholder = "departureTime" })
                        @Html.ValidationMessageFor(m => m.departureTime, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.timeDuration)
                        @Html.TextBoxFor(m => m.timeDuration, "", new { @class = "form-control", @placeholder = "timeDuration" })
                        @Html.ValidationMessageFor(m => m.timeDuration, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.noOfSeats)
                        @Html.TextBoxFor(m => m.noOfSeats, "", new { @class = "form-control", @placeholder = "noOfSeats" })
                        @Html.ValidationMessageFor(m => m.noOfSeats, "", new { @class = "badge badge-danger" })
                    </div>

                </div>

                <div class="column" style="padding-left:140px;">
                    <div class="form-group">
                        @Html.LabelFor(m => m.economySeatsClass)
                        @Html.TextBoxFor(m => m.economySeatsClass, "", new { @class = "form-control", @placeholder = "economySeatsClass" })
                        @Html.ValidationMessageFor(m => m.economySeatsClass, "", new { @class = "badge badge-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.economyPrice)
                        @Html.TextBoxFor(m => m.economyPrice, "", new { @class = "form-control", @placeholder = "economyPrice" })
                        @Html.ValidationMessageFor(m => m.economyPrice, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.businessPrice)
                        @Html.TextBoxFor(m => m.businessPrice, "", new { @class = "form-control", @placeholder = "businessPrice" })
                        @Html.ValidationMessageFor(m => m.businessPrice, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.secondClassSeats)
                        @Html.TextBoxFor(m => m.secondClassSeats, "", new { @class = "form-control", @placeholder = "secondClassSeats" })
                        @Html.ValidationMessageFor(m => m.secondClassSeats, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.secondPrice)
                        @Html.TextBoxFor(m => m.secondPrice, "", new { @class = "form-control", @placeholder = "secondPrice" })
                        @Html.ValidationMessageFor(m => m.secondPrice, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.firstClassSeats)
                        @Html.TextBoxFor(m => m.firstClassSeats, "", new { @class = "form-control", @placeholder = "firstClassSeats" })
                        @Html.ValidationMessageFor(m => m.firstClassSeats, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.secondClassSeats)
                        @Html.TextBoxFor(m => m.secondClassSeats, "", new { @class = "form-control", @placeholder = "secondClassSeats" })
                        @Html.ValidationMessageFor(m => m.secondClassSeats, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.firstPrice)
                        @Html.TextBoxFor(m => m.firstPrice, "", new { @class = "form-control", @placeholder = "firstPrice" })
                        @Html.ValidationMessageFor(m => m.firstPrice, "", new { @class = "badge badge-danger" })
                    </div>

                </div>
                <div class="container" style="padding-left:130px;">
                    <button class=" btn-success" style="padding:10px!important;">Submit</button>

                </div>
            </div>
          

        }



    </form>
   
</body>
</html>
